@page "/people"
@using Firebase.Database
@using BlazorFirebaseTest.Models
@using System.Text.Json
@inject HttpClient Http

<PageTitle>People</PageTitle>

<h1>Люди з БД</h1>

<p>Дістаємо дані з Realtime Database</p>

@if (string.IsNullOrEmpty(peopleJson))
{
    <p>
        <em>Завантаження...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Ім'я</th>
            <th>Прізвище</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in people)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private FirebaseClient firebaseClient = new("https://asptest-1c6c7-default-rtdb.europe-west1.firebasedatabase.app/");

    private string peopleJson = string.Empty;
    private IEnumerable<Person> people;

    protected override async Task OnInitializedAsync()
    {
        peopleJson =  await this.firebaseClient
            .Child("People")
            .OnceAsJsonAsync();
        people = JsonSerializer.Deserialize<IEnumerable<Person>>(peopleJson) 
                 ?? Array.Empty<Person>();
    }

}